@font-face {
    font-family: 'DejaVuSansCondensed';
    src: url('../fonts/DejaVuSansCondensed.eot');
    src: url('../fonts/DejaVuSansCondensed.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSansCondensed.woff') format('woff'),
         url('../fonts/DejaVuSansCondensed.ttf') format('truetype'),
         url('../fonts/DejaVuSansCondensed.otf') format('otf');
}
@font-face {
    font-family: 'DejaVuSansCondensed-Bold';
    src: url('../fonts/DejaVuSansCondensed-Bold.eot');
    src: url('../fonts/DejaVuSansCondensed-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSansCondensed-Bold.woff') format('woff'),
         url('../fonts/DejaVuSansCondensed-Bold.ttf') format('truetype'),
         url('../fonts/DejaVuSansCondensed-Bold.otf') format('otf');
}
@font-face {
    font-family: 'DejaVuSans-ExtraLight';
    src: url('../fonts/DejaVuSans-ExtraLight.eot');
    src: url('../fonts/DejaVuSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSans-ExtraLight.woff') format('woff'),
         url('../fonts/DejaVuSans-ExtraLight.ttf') format('truetype'),
         url('../fonts/DejaVuSans-ExtraLight.otf') format('otf');
}
