* {
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Calibri';
    min-width: 480px !important;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p, a, ul, li, input, label, button, textarea {
    margin: 0;
    padding: 0;
    list-style: none;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 100500;
    background: #fff;
}

#page-preloader .spinner {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('../img/spinner.gif') no-repeat 50% 50%;
    margin: -16px 0 0 -16px;
}
/* Header
------------------------------------------------------------------------------------ */
#header, #footer {
    position:fixed;
    display:block;
    width: 100%;
    z-index:9;
}

#header {
    top:0px;
    height: 87px;
    background: url(../img/header.png) no-repeat;
}
#header .order:before {
    content: '';
    width: 302px;
    height: 65px;
    background: url(../img/under_logo.png);
    top: 0;
    left: 1px;
    position: absolute;
}
#header .logo {
    float: left;
    margin-left: 184px;
    position: relative;
    z-index: 10;
    margin-top: 6px;
}
#header .right {
    float: right;
    background: url(../img/header_right.png) repeat-x;
}
#header .namber {
    text-align: right;
    margin-top: 9px;
    padding-right: 88px;
}
#header .namber a {
    color: #fff;
    font-size: 21px;
    text-decoration: none;
}

#header .nav {
    border-top: 1px solid #556F78;
    margin-top: 9px;
    width: 100%;
    margin-right: 88px;
    float: right;
    text-align: center;
}
#header .nav li {
    display: inline-block;
    position: relative;
}
#header .nav a {
    position: relative;
    height: 42px;
    display: block;
    padding-left: 9px;
    padding-right: 9px;
    line-height: 42px;
    font-size: 20px;
    color: #4e585d;
    text-transform: uppercase;
    text-decoration: none;
}
#header .nav li.active a {
    background: url(../img/nav.png);
    background-size: 100% 46px;
    height: 46px;
    color: #fff;
}
#header .nav li:hover a {
    color: #fff;
}
#header .nav li.active a:before {
    content: '';
    width: 18px;
    height: 4px;
    right: 100%;
    bottom: 0;
    position: absolute;
    background: url(../img/nav_before.png);
}
#header .nav li .hidden_hover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../img/nav.png);
    background-size: 100% 46px;
    left: 0;
    display: none;
}
#header .order {
    width: 305px;
    height: 93px;
    bottom: -93px;
    left: 84px;
    position: absolute;
}
#header .order div {
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 1;
    line-height: 26px;
}
#header .order a {
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    width: 100px;
    padding-top: 35px;
}
#header .order .call_order {
    background: url(../img/call_order.png) no-repeat;
    padding-left: 15px;
}
#header .order .status_order {
    background: url(../img/status_order.png) no-repeat;
    padding-right: 15px;
    padding-left: 5px;
    text-align: right;
}
button.open_nav {
    display: none;
}
.line_top {
    position: absolute;
    top: 87px;
    left: 0;
    z-index: 100;
    width: 100%;
}
.line_top .left {
    height: 93px;
    width: 87px;
    background: url(../img/name_page.png) no-repeat;
    float: left;
}
.line_top .right {
    height: 93px;
    background: url(../img/name_page.png);
    float: right;
}
.line_top p {
    padding-left: 35px;
    font-size: 50px;
    color: #2274c3;
    padding-top: 38px;
}
#footer {
    bottom: 0px;
    height: 83px;
    background: url(../img/footer.png) repeat-x;
}
.footer_container {
    width: 960px;
    text-align: center;
    margin: auto;
    position: relative;
    height: 100%;
}
.footer_container .address {
    color: #2d383d;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 11px;
}
.footer_container .bottom {
    height: 44px;
    border-top: 1px solid #556F78;
    line-height: 44px;
    color: #fff;
    font-size: 12px;
}
.footer_container .socials {
    float: right;
}
.footer_container .soc {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 11px;
    background: url(../img/socials.png);
    margin-left: 10px;
}
.footer_container .fb {
    background-position: -27px 0;
}
.footer_container .twitter {
    background-position: -54px 0;
}
.footer_container .vk:hover {
    background-position: 0 -26px;
}
.footer_container .fb:hover {
    background-position: -27px -26px;
}
.footer_container .twitter:hover {
    background-position: -54px -26px;
}
.item_wrap {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.item_wrap .item {
    margin: 5px;
    display: inline-table;
    width: 184px;
    background: #72888e;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzcyODg4ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNWU1ZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #72888e 1%, #d5e5ee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#72888e), color-stop(100%,#d5e5ee));
    background: -webkit-linear-gradient(top, #72888e 1%,#d5e5ee 100%);
    background: -o-linear-gradient(top, #72888e 1%,#d5e5ee 100%);
    background: -ms-linear-gradient(top, #72888e 1%,#d5e5ee 100%);
    background: linear-gradient(to bottom, #72888e 1%,#d5e5ee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72888e', endColorstr='#d5e5ee',GradientType=0 );
    border: 1px solid #556F78;
    padding-bottom: 12px;
}
.item_wrap .item > a {
    text-decoration: none;
}
.item_wrap .item .item_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../img/item_name.jpg);
    left: 0;
    display: none;
}
.item_wrap .item .item_name {
    color: #fff;
    width: 100%;
    font-size: 22px;
    text-align: center;
    min-height: 62px;
    padding-top: 10px;
    border-bottom: 1px solid #556F78;
    position: relative;
}
.item_wrap .item .item_name p {
    line-height: 20px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}
.item_wrap .item img {
    display: block;
}
.item_wrap .item .types {
    padding-top: 8px;
}
.item_wrap .item .types li {
    text-align: left;
    padding-left: 23px;
    padding-right: 8px;
}
.item_wrap .item .types li a {
    font-size: 16px;
    color: #4e585d;
    text-decoration: none;
    position: relative;
}
.item_wrap .item .types li a:hover {
    border-bottom: 1px solid;
    color: #3c6791;
}
.item_wrap .item .types li a:hover:before {
    content: '';
    border: 18px solid transparent;
    border-left-color: #0C6794;
    position: absolute;
    left: -23px;
    top: -7px;
}

/* Section
------------------------------------------------------------------------------------ */
.section_container .item {
    padding-bottom: 0;
    height: 182px;
}
.section_container .item .item_name {
    min-height: 74px;
    /*display: table;
    padding: 0;*/
}
.section_container .item .item_name p {
    /*display: table-cell;
    vertical-align: middle;*/
}
/* About Us
------------------------------------------------------------------------------------ */
.about_container {
    padding-top: 180px;
    padding-bottom: 80px;
}
.about_container .about_text {
    padding-left: 80px;
    padding-right: 80px;
}
.about_container .about_text p {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 40px;
    color: #4e585d;
    font-family: 'DejaVuSans-ExtraLight';
}
.about_container .intro p a {
    color: #3c7fc7;
    text-decoration: none;
    border-bottom: 1px solid ;
}
/* Slider
------------------------------------------------------------------------------------ */
.slider_container,
#slider {
    width: 100%;
    height: 100%;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  height: 100%;
  border: 0;
  }


/* Two parts
------------------------------------------------------------------------------------ */
.two_inner_container {
    width: 100%;
    height: 100%;
    padding-top: 87px;
    padding-bottom: 83px;
}
.two_inner_container .two_inner {
    float: left;
    width: 50%;
    height: 100%;
}
.two_inner_container .two_inner img {
    width: 100%;
    height: 100%;
}
.two_inner_container .small_map_container {
    padding-top: 93px;
}
.two_inner_container .right_inner {
    padding-top: 93px;
    padding-left: 30px;
    padding-right: 30px;
    display: table;
}
.two_inner_container .right_section_container {
    display: table-cell;
    vertical-align: middle;
}
.two_inner_container .right_inner p {
    font-family: 'DejaVuSans-ExtraLight';
    font-size: 30px;
    color: #4e585d;
}
.two_inner_container .right_inner p span {
    font-family: 'DejaVuSansCondensed-Bold';
}
.two_inner_container .right_inner p a {
    color: #3c7fc7;
    text-decoration: none;
    border-bottom: 1px solid #3c7fc7;
}
.two_inner_container .right_inner .right_inner_section {
    margin-bottom: 45px;
}

/* Maps
------------------------------------------------------------------------------------ */
.map_container {
    width: 100%;
    height: 100%;
}
#large_map,
#small_map {
    width: 100%;
    height: 100%;
}

.glass_info {
    background: rgba(255,255,255,.6);
    width: 500px;
    position: absolute;
    top: 50%;
    left: 100px;
    margin-top: -120px;
    padding: 30px 25px;
    z-index: 99;
    border: 1px solid #c3cccf;
}
.glass_info h1 {
    font-size: 50px;
    line-height: 50px;
    font-weight: normal;
    color: #f62b20;
    margin-bottom: 10px;
}
.glass_info .glass_info_section {
    margin-top: 15px;
}
.glass_info p {
    font-family: 'DejaVuSansCondensed';
    font-style: 30px;
    color: #4e585d;
}
.glass_main_info p {
    font-family: 'DejaVuSans-ExtraLight';
    font-size: 30px;
    color: #616161;
}

/* Gallery
------------------------------------------------------------------------------------ */

.gallery_container .item {
    padding-bottom: 0;
}




@media screen and (max-width: 1251px) {
    #header .nav {
        width: 100%;
        margin-right: 10px;
        padding-left: 0;
        text-align: right;
        padding-right: 0;
    }
    #header .nav li {
        display: inline-block;
        margin-left: -4px;
        float: none;
    }
    #header {
        background-position: -79px 0;
    }
    #header .namber {
        padding-right: 10px;
    }
    #header .logo {
        margin-left: 101px;
    }
    #header .order {
        left: 5px;
    }
    .line_top .left {
        width: 7px;
    }
}
@media screen and (max-width: 955px) {
    #header .right {
        height: 87px;
    }
    #header .nav {
        top: 87px;
        margin-top: 0;
        margin-right: 0;
        right: 10px;
        position: absolute;
        width: 147px;
        border: 1px solid  #556F78;
        background: #72888e;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzcyODg4ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNWU1ZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #72888e 1%, #d5e5ee 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#72888e), color-stop(100%,#d5e5ee));
        background: -webkit-linear-gradient(top, #72888e 1%,#d5e5ee 100%);
        background: -o-linear-gradient(top, #72888e 1%,#d5e5ee 100%);
        background: -ms-linear-gradient(top, #72888e 1%,#d5e5ee 100%);
        background: linear-gradient(to bottom, #72888e 1%,#d5e5ee 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72888e', endColorstr='#d5e5ee',GradientType=0 );
        text-align: left;
        display: none;
    }
    #header .nav li {
        margin-left: 0;
        display: block;
        margin-right: 0;
    }
    #header .nav li a,
    #header .nav li.active a,
    #header .nav li a:hover {
        height: 33px;
        line-height: 33px;
        width: 100%;
        background-position: 0 -13px;
    }
    #header .nav li a:before,
    #header .nav li.active a:before,
    #header .nav li a:after,
    #header .nav li.active a:after {
        content: none;
    }
    #header .namber {
        margin-right: 10px;
        padding-right: 0;
        min-width: 175px;
        width: 100%;
        float: right;
        border-bottom: 1px solid #556F78;
        line-height: 38px;
        margin-top: 2px;
    }
    .line_top {
        height: 158px;
        background: url(../img/name_page.png);
        background-size: 100% 158px;

    }
    .line_top .right,
    .line_top .left {
        float: none;
        background: none;
    }
    .line_top p {
        font-size: 30px;
        text-align: left;
        padding-left: 5px;
        padding-top: 20px;
        margin-bottom: 15px;
    }
    button.open_nav {
        display: block;
        float: right;
        height: 16px;
        overflow: hidden;
        background: none;
        border-radius: 0;
        border: none;
        width: 40px;
        outline: none;
        clear: right;
        margin-top: 10px;
        margin-right: 11px;
        cursor: pointer;
    }
    button.open_nav span {
        margin-bottom: 5px;
        height: 2px;
        width: 100%;
        background: #fff;
        display: block;
    }
    .about_container .about_text {
        padding-left: 10px;
        padding-right: 10px;
    }
    .about_container .about_text p {
        font-size: 21px;
        line-height: 21px;
    }
    .about_container .intro p a {
        color: #3c7fc7;
        text-decoration: none;
        border-bottom: 1px solid ;
    }
    .glass_info {
        width: 96%;
        left: 0;
        margin-top: -120px;
        margin-left: 2%;
    }
    .glass_info h1 {
        font-size: 30px;
        line-height: 30px;
    }
    .glass_info .glass_info_section {
        margin-top: 15px;
    }
    .glass_info p {
        font-style: 17px;
    }
    .glass_main_info p {
        font-size: 20px;
    }

    .two_inner_container {
        width: 100%;
        height: 100%;
        padding-top: 44px;
        padding-bottom: 83px;
    }
    .two_inner_container .two_inner {
        float: none;
        width: 100%;
        height: 50%;
    }
    .two_inner_container .two_inner img {
        width: 100%;
        height: 100%;
    }
    .two_inner_container .small_map_container {
        padding-top: 10px;
    }
    .right_map_container {
        text-align: center;
    }
    .two_inner_container .right_inner {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .two_inner_container .right_inner p {
        font-size: 20px;
    }
    .two_inner_container .right_inner .right_inner_section {
        margin-bottom: 45px;
    }
    .footer_container {
        width: 480px;
    }
    .footer_container .address {
        font-size: 12px;
        padding-top: 8px;
        padding-bottom: 7px;
    }
    .footer_container .bottom {
        font-size: 9px;
        text-align: left;
    }
}